@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* NAVBAR */
#navbar {
    background-color: #F0B1B9;
    width: 100%;
    height: 10vh;
}

#navbar > .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 30px;
}

#navbar > .navbar > .logo > h2 {
    color: #D53D6C;
    font-size: 30px;
    cursor: pointer;
}

#navbar > .navbar > .menu {
    display: flex;
    align-items: center;
}

#navbar > .navbar > .menu > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navbar > .navbar > .menu > ul > li {
    margin: 0 20px;
    position: relative;
}

#navbar > .navbar > .menu > ul > li > a {
    text-decoration: none;
    color: #ffffff;
}

.menu ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #D53D6C;
    border-radius: 3px;
    transition: all 0.3s ease-out;
}

.menu ul li a:hover::before {
    visibility: visible;
    width: 100%;
}

#navbar > .navbar > .shop {
    color: #D53D6C;
    cursor: pointer;
}

#navbar > .navbar > .shop:hover {
    color: #D53D6C;
}

/* HOME */
#home {
    background-color: #F0B1B9;
    width: 100%;
    height: 90vh;
}

#home > .container-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

#home > .container-home > .box-left {
    width: 600px;
    padding: 80px 80px 80px 0px;
}

#home > .container-home > .box-left > h1 {
    font-size: 32px;
    color: #D53D6C;
}

#home > .container-home > .box-left > p {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

#home > .container-home > .box-left > button {
    margin-top: 10px;
    padding: 3px 20px;
    background-color: #D53D6C;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
}

#home > .container-home > .box-left > button:hover {
    background-color: #ab0c3e;
    color: white;
}

#home > .container-home > .box-left > button > a {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

#home > .container-home > .box-right > img {
    width: 180px;
}

/* CHOOSE US */
#choose-us {
    background-color: #ffeff1;
    height: 30vh;
    width: 100%;
}

#choose-us > .container-choose > .title {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #D53D6C;
}

#choose-us > .container-choose > .topics {
    display: flex;
    gap: 60px;
    justify-content: center;
}

#choose-us > .container-choose > .topics > .topic-draw {
    text-align: center;
}

#choose-us > .container-choose > .topics > .topic-draw > span {
    color: #D53D6C;
}

#choose-us > .container-choose > .topics > .topic-draw > p {
    font-weight: 500;
    color: #D53D6C;
}

/* PRODUCTS */
#products {
    background-color: #F0B1B9;
    height: 140vh;
    width: 100%;
}

#products > .container-products > .title {
    color: #D53D6C;
    padding: 20px;
    text-align: center;
}

#products > .container-products > .container-comum > h2 {
    color: #ab0c3e;
    text-transform: uppercase;
    font-family: 'Inter';
    font-size: 18px;
    padding-left: 246px;
    padding-bottom: 10px;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 640px;
    margin: 0 70px 30px;
}

#products > .container-products > .container-comum > .container > .slider-wrapper > .card-list {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#products > .container-products > .container-comum > .container > .slider-wrapper > .card-list > .card-item {
    background-color: #ffeff1;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(94, 68, 87);
}

#products > .container-products > .container-comum > .container > .slider-wrapper > .card-list > .card-item > p {
    font-size: 12px;
    font-weight: 500;
}

#products > .container-products > .container-comum > .container > .slider-wrapper > .card-list > .card-item > .price-quantify {
    display: flex;
    gap: 45px;
}

#products > .container-products > .container-comum > .container > .slider-wrapper > .card-list > .card-item > .price-quantify > .price {
    font-size: 16px;
    font-weight: 600;
    color: #D53D6C;
}

#products > .container-products > .container-comum > .container > .slider-wrapper > .card-list > .card-item > .price-quantify > .quantify > span {
    font-size: 16px;
    cursor: pointer;
}

#products > .container-products > .container-comum > .container > .slider-wrapper > .card-list > .card-item > .btn > button {
    font-weight: 500;
    margin-top: 3px;
    padding: 3px 20px;
    background-color: #ffeff1;
    border-radius: 20px;
    border: 1px solid #D53D6C;
    color: #D53D6C;
    cursor: pointer;
    transition-duration: 0.3s;
}

#products > .container-products > .container-comum > .container > .slider-wrapper > .card-list > .card-item > .btn > button:hover {
    background-color: #D53D6C;
    color: #ffffff;
}

.slider-wrapper .swiper-pagination-bullet {
    background: #fff;
}

.slider-wrapper .swiper-slide-button {
    color: #fff;
}